body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}
.header{
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #222;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#title{
    margin-left: 1rem;
}
.menu{
    color: #fff;
}